<h1><%= @article.title %></h1>

<h3><%= link_to "Edit Article", edit_user_article_path(@user, @article) %></h3>

<h2>by <%= @user.name %></h2>

<p><%= @article.body %></p>

<h3>Comments</h3>

<% @article.comments.each do |comment| %>
	<ul>
		<li><%= comment.body %></li>
	</ul>
<% end %>

<h3><%= link_to "Add Comment", new_user_article_comment_path(@user, @article) %></h3>

<h3><%= link_to "Back to #{@user.name}'s Articles", user_path(@user) %></h3>
