<h1><%= @user.name %></h1>

<p>Email: <%= @user.email %> </p>
<h2>Articles:</h2>
	<h3><%= link_to 'Create New Article', new_user_article_path(@user) %></h3>
	<% @user.articles.each do |article| %>
	<div class="article">
		<p><%= link_to article.title, user_article_path(@user, article) %></p>
			<ul>
				<li>snippet: <%= truncate(article.body, length: 140) %></li>
			</ul>
	</div>
	<% end %>

<h3><%= link_to "Back to All Users", users_path %></h3>
<h3><%= link_to "Back to All Articles", root_path %></h3>

